<div class="container">
  <h2>{{model.username}}</h2>
  <br>
  <img alt="Brand" src={{model.profilePicture}}>
  <li><strong> First Name: </strong>{{model.firstName}}</li>
  <li><strong> Last name: </strong>{{model.lastName}}</li>
  <li><strong> Email: </strong>{{model.email}} </li>


</div>

{{outlet}}
